body {
  background-color: black;
}

h3 {
  font-family: courier;
  color: white;
  text-align: center;
}

input {
text-align: center;
display: block;
margin: auto;
margin-bottom: 20px;
}

#submit {
  display: none;
}



.box {
  /*margin: auto;*/
  /*margin: 0.1px;*/
  display: inline;
  /*width: 100px;
  height: 100px;*/
  /*border-radius: 50%;*/
}
