body {
  background-color: black;
}
#box {
  margin: auto;
  display: inline;
  width: 0px;
  height: 0px;
  border-radius: 50%;
}

.box1{
  background-color: blue;
}
.box2 {
  background-color: green;
}

.box3 {
  background-color: orange;
}

.box4 {
  background-color: purple;
}
